@media screen and (min-width: 600px) {

    header h1 {
        text-align: left;
        font-size: 2.5rem;
    }

    #menu {
        display: none; /* hide hamburger on desktop */
    }

    /* Show navigation horizontally */
    .navigation {
        display: flex !important;
        position: static;
        flex-direction: row;
        background: none;
        width: auto;
    }

    .navigation ul {
        display: flex;
        gap: 1.5rem;
        padding: 0;
        align-items: center;
    }

    .navigation li {
        border: none;
    }

    .navigation a {
        display: block;
        padding: 0.5rem 1rem;
        color: #2F6B3F;
    }

    .navigation a:hover {
        background-color: #588157;
        border-radius: 5px;
    }

    /* Temple Grid for larger screens */
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 900px) {
        .container {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    main h1, section h2 {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .slider {
        max-width: 1000px;
        padding: 25px;
    }

    .slider h2 {
        font-size: 1.8rem;
    }

    .slider p {
        font-size: 1.1rem;
    }

    .controls button:hover {
        background: #588157;
        cursor: pointer;
    }
    .arrow:hover {
        background: #588157;
    }
}

@media (max-width: 500px) {
    .image-gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
    }
}